<app-header></app-header>
<div class="pt-16 bg-off-white parent-grid">
  <app-toaster></app-toaster>
  <div class="main-grid">
    <div class="flex justify-between z-30 main-label">
      <div>
        <img src="../../assets/images/png/marketing.png" loading="lazy">
      </div>
      <div class="flex flex-col mt-1">
        <div>
          <img class="h-96 w-auto" src="../../assets/images/png/pravisco-bg-logo.png" loading="lazy">
        </div>
        <div class="flex justify-center text-7xl font-bold tracking-widest text-gray-700">
          PRAVISCO
        </div>
        <div class="flex justify-center custom-font italic text-2xl font-normal text-gray-900">
          Cloning ideas into reality!
        </div>
        <div class="flex justify-between pt-8">
          <div>
            <button type="button"
              class="py-2 px-4 mr-4 w-52 moveUp bg-white text-gray-500 font-semibold rounded-full shadow-md hover:shadow-xl focus:outline-none">24/7
              Customer Support</button>
          </div>
          <div>
            <button type="button"
              class="py-2 px-4 ml-4 w-52 moveUp bg-gray-500 text-white font-semibold rounded-full shadow-md hover:shadow-xl focus:outline-none">Schedule
              Call</button>
          </div>
        </div>
      </div>
      <div>
        <img src="../../assets/images/png/hero.png" loading="lazy">
      </div>
    </div>

    <!-- <div class="flex justify-evenly bean-on-main">
      <div class="">
        <img src="../../assets/images/png/floating_girl.png" loading="lazy">
      </div>
      <div class="">
        <img src="../../assets/images/png/orange_bean.png" loading="lazy">
      </div>
    </div> -->
  </div>

  <div class="wave-1">
    <img src="../../assets/images/png/white_bottom_wave.png" loading="lazy">
  </div>



  <div class="first-white-section bg-white flex flex-col items-center">
    <div class="grid-cards pt-3 pb-12 flex items-center justify-evenly">
      <div
        class="mx-12 px-6 py-2 bg-white text-gray-700 w-1/3 shadow-2xl divide-y-2 flex flex-col items-center rounded-lg cursor-pointer hover:bg-indigo-500 hover:text-white">
        <div class="px-2 py-2 text-2xl tracking-wide font-semibold flex items-center justify-center">
          <svg class="stroke-current fill-current" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 496 496"
            style="enable-background:new 0 0 496 496;" xml:space="preserve" height="12%" width="12%">
            <g>
              <g>
                <g>
                  <path d="M0,0v400h496V0H0z M480,384H16V16h464V384z" />
                  <path d="M312,32H32v176h280V32z M296,192H48V48h248V192z" />
                  <rect x="328" y="32" width="136" height="16" />
                  <rect x="328" y="64" width="136" height="16" />
                  <rect x="328" y="96" width="136" height="16" />
                  <rect x="328" y="128" width="136" height="16" />
                  <rect x="328" y="160" width="136" height="16" />
                  <rect x="328" y="192" width="136" height="16" />
                  <path d="M168,224H32v144h136V224z M152,352H48V240h104V352z" />
                  <path d="M184,368h128V224H184V368z M200,240h96v112h-96V240z" />
                  <path d="M464,224H328v144h136V224z M448,352H344V240h104V352z" />
                  <path d="M168,176c30.88,0,56-25.12,56-56s-25.12-56-56-56s-56,25.12-56,56S137.12,176,168,176z M168,80c22.056,0,40,17.944,40,40
          c0,22.056-17.944,40-40,40c-22.056,0-40-17.944-40-40C128,97.944,145.944,80,168,80z" />
                  <path d="M456,416H77.872l-70,40l70,40H456c22.056,0,40-17.944,40-40C496,433.944,478.056,416,456,416z M80,478.784L40.128,456
          L80,433.216V478.784z M384,480H96v-48h288V480z M416,480h-16v-48h16V480z M456,480h-24v-48h24c13.232,0,24,10.768,24,24
          S469.232,480,456,480z" />
                </g>
              </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
          </svg>

          <div class="ml-3">Website Design</div>
        </div>
        <div class="py-3">
          Design team that creates <strong>innovative</strong>, <strong>effective</strong> websites that
          <strong>maximize your revenue</strong> to help grow your business and achieve your goals.
        </div>
      </div>

      <div
        class="mx-12 px-6 py-2 bg-white text-gray-700 w-1/3 shadow-2xl divide-y-2 flex flex-col items-center rounded-lg cursor-pointer hover:bg-indigo-500 hover:text-white">
        <div class="px-2 py-2 text-2xl tracking-wide font-semibold flex items-center justify-center">
          <svg class="stroke-current fill-current" version="1.1" id="Artwork" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
            enable-background="new 0 0 512 512" xml:space="preserve" height="15%" width="15%">
            <g>
              <path d="M363.4,384.5c33,0,59.9-26.9,59.9-59.9c0-33-26.9-59.9-59.9-59.9c-33,0-59.9,26.9-59.9,59.9
              C303.5,357.6,330.4,384.5,363.4,384.5z M363.4,289.1c19.5,0,35.4,15.9,35.4,35.4c0,19.5-15.9,35.4-35.4,35.4S328,344.1,328,324.5
              C328,305,343.9,289.1,363.4,289.1z" />
              <path d="M247.2,292.9c-11.3,0-20.5,9.2-20.5,20.5v22.4c0,11.3,9.2,20.5,20.5,20.5h9c2.2,7.6,5.2,14.9,9,21.8l-6.4,6.4
              c-3.9,3.9-6,9-6,14.5c0,5.5,2.1,10.6,6,14.5l15.8,15.8c3.9,3.9,9,6,14.5,6c5.5,0,10.6-2.1,14.5-6l6.4-6.4c6.9,3.8,14.2,6.8,21.8,9
              v9c0,11.3,9.2,20.5,20.5,20.5h22.4c11.3,0,20.5-9.2,20.5-20.5v-9c7.6-2.2,14.9-5.2,21.8-9l6.4,6.4c3.9,3.9,9,6,14.5,6
              c5.5,0,10.6-2.1,14.5-6l15.8-15.8c8-8,8-21,0-28.9l-6.4-6.4c3.8-6.9,6.8-14.2,9-21.8h9c11.3,0,20.5-9.2,20.5-20.5v-22.4
              c0-11.3-9.2-20.5-20.5-20.5h-9c-2.2-7.6-5.2-14.9-9-21.8l6.4-6.4c3.9-3.9,6-9,6-14.5s-2.1-10.6-6-14.5L452.2,220
              c-3.9-3.9-9-6-14.5-6c-5.5,0-10.6,2.1-14.5,6l-6.4,6.4c-6.9-3.8-14.2-6.8-21.8-9v-9c0-11.3-9.2-20.5-20.5-20.5h-22.4
              c-11.3,0-20.5,9.2-20.5,20.5v9c-7.6,2.2-14.9,5.2-21.8,9l-6.4-6.4c-3.9-3.9-9-6-14.5-6c-5.5,0-10.6,2.1-14.5,6l-15.8,15.8
              c-3.9,3.9-6,9-6,14.5s2.1,10.6,6,14.5l6.4,6.4c-3.8,6.9-6.8,14.2-9,21.8H247.2z M265.8,317.4c5.8,0,10.9-4.1,12-9.9
              c2.2-11.3,6.6-21.9,13-31.5c3.3-4.9,2.6-11.3-1.5-15.5l-10.3-10.3l10.1-10.1l10.3,10.3c4.1,4.1,10.6,4.8,15.5,1.5
              c9.6-6.4,20.2-10.8,31.5-13c5.7-1.1,9.9-6.2,9.9-12v-14.6h14.3v14.6c0,5.9,4.1,10.9,9.9,12c11.3,2.2,21.9,6.6,31.5,13
              c4.9,3.3,11.3,2.6,15.5-1.5l10.3-10.3l10.1,10.1l-10.3,10.3c-4.1,4.1-4.8,10.6-1.5,15.5c6.4,9.6,10.8,20.2,13,31.5
              c1.1,5.7,6.2,9.9,12,9.9h14.6v14.3h-14.6c-5.8,0-10.9,4.1-12,9.9c-2.2,11.3-6.6,21.9-13,31.5c-3.3,4.9-2.6,11.3,1.5,15.5l10.3,10.3
              l-10.1,10.1l-10.3-10.3c-4.1-4.1-10.6-4.8-15.5-1.5c-9.6,6.4-20.2,10.8-31.5,13.1c-5.7,1.1-9.9,6.2-9.9,12v14.6h-14.3v-14.6
              c0-5.9-4.1-10.9-9.9-12c-11.3-2.2-21.9-6.6-31.5-13.1c-4.9-3.2-11.3-2.6-15.5,1.5l-10.3,10.3l-10.1-10.1l10.3-10.3
              c4.1-4.1,4.8-10.6,1.5-15.5c-6.4-9.6-10.8-20.2-13-31.5c-1.1-5.7-6.2-9.9-12-9.9h-14.6v-14.3H265.8z" />
              <path
                d="M11.9,83.7v269.8c0,18.2,14.8,32.9,32.9,32.9h173.8c6.8,0,12.3-5.5,12.3-12.3c0-6.8-5.5-12.3-12.3-12.3H44.8
              c-4.6,0-8.4-3.8-8.4-8.4V153.1h364.5v24c0,6.8,5.5,12.3,12.3,12.3s12.3-5.5,12.3-12.3V83.7c0-18.2-14.8-32.9-32.9-32.9H44.8
              C26.6,50.8,11.9,65.5,11.9,83.7z M400.9,83.7v44.9H36.4V83.7c0-4.6,3.8-8.4,8.4-8.4h347.6C397.1,75.3,400.9,79,400.9,83.7z" />
              <path d="M63,114.1c3.2,0,6.4-1.3,8.7-3.6c2.3-2.3,3.6-5.4,3.6-8.7c0-3.2-1.3-6.4-3.6-8.7c-4.6-4.5-12.8-4.5-17.3,0.1
              c-2.3,2.3-3.6,5.4-3.6,8.6c0,3.2,1.3,6.4,3.6,8.7C56.6,112.9,59.8,114.1,63,114.1z" />
              <path d="M101.9,114.1c3.2,0,6.4-1.3,8.6-3.6c2.3-2.3,3.6-5.4,3.6-8.7c0-3.2-1.3-6.4-3.6-8.7c-4.6-4.5-12.8-4.5-17.3,0.1
              c-2.3,2.3-3.6,5.4-3.6,8.6c0,3.2,1.3,6.4,3.6,8.7C95.5,112.9,98.7,114.1,101.9,114.1z" />
              <path d="M140.8,114.1c3.2,0,6.4-1.3,8.7-3.6c2.3-2.3,3.6-5.4,3.6-8.7c0-3.2-1.3-6.4-3.6-8.6c-4.6-4.6-12.8-4.6-17.3,0
              c-2.3,2.3-3.6,5.4-3.6,8.6c0,3.2,1.3,6.4,3.6,8.7C134.4,112.9,137.6,114.1,140.8,114.1z" />
            </g>
          </svg>
          <div class="ml-2">
            Software Development
          </div>
        </div>
        <div class="py-3">
          <strong>End-to-end</strong> software development – we envision, plan, design, develop, integrate, deploy,
          and
          support software
          solutions
        </div>
      </div>

      <div
        class="mx-12 px-6 py-2 bg-white text-gray-700 w-1/3 shadow-2xl divide-y-2 flex flex-col items-center rounded-lg cursor-pointer hover:bg-indigo-500 hover:text-white">
        <div class="px-2 py-2 text-2xl tracking-wide font-semibold flex items-center justify-center">
          <svg class="stroke-current fill-current" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 496 496"
            style="enable-background:new 0 0 496 496;" xml:space="preserve" height="15%" width="15%">
            <g>
              <g>
                <g>
                  <path d="M388.688,0l-27.464,27.464C327.248,9.952,288.776,0,248,0h-8v24.2C120.184,28.44,24,127.168,24,248
          c0,57.152,21.304,111.008,60.088,152.6l-17.104,17.104l5.656,5.656c14.464,14.464,30.4,26.904,47.472,37.216L100.688,480H0v16
          h107.312l27.344-27.344C169.296,486.496,207.904,496,248,496c66.248,0,128.52-25.8,175.36-72.64l5.656-5.656L411.912,400.6
          c36.968-39.64,58-90.432,59.896-144.6H496v-8c0-90.04-48.24-169.008-120.224-212.464L395.312,16H496V0H388.688z M248,136
          c61.76,0,112,50.24,112,112v8h15.608c-1.752,28.512-12.8,55.184-31.72,76.576l-11.04-11.04l-5.656,5.656
          C306.048,348.352,277.92,360,248,360c-29.92,0-58.048-11.648-79.192-32.808l-5.656-5.656l-11.04,11.04
          C131.424,309.184,120,279.504,120,248c0-67.88,53.152-123.432,120-127.592V136H248z M40,248c0-112.016,89-203.576,200-207.8v64.2
          c-75.672,4.192-136,66.904-136,143.6c0,35.776,13.096,69.464,36.8,95.888L95.408,389.28C59.632,350.72,40,300.88,40,248z
           M248,480c-35.736,0-70.208-8.072-101.416-23.272l35.072-35.072l-11.312-11.312l-38.536,38.536
          c-15.016-8.72-29.152-19.152-42.104-31.272l73.616-73.616C186.712,364.688,216.48,376,248,376
          c31.512,0,61.288-11.312,84.68-32.008l73.616,73.616C363.192,457.904,307.296,480,248,480z M400.6,389.28l-45.4-45.392
          c21.92-24.44,34.616-55.104,36.408-87.888H455.8C453.928,305.888,434.552,352.672,400.6,389.28z M479.864,240H375.752
          C371.776,175.784,320.216,124.224,256,120.248V16.136c33.368,1.136,64.944,9.392,93.32,23.232l-34.976,34.976l11.312,11.312
          l38.416-38.416C431.144,86.176,477.056,157.696,479.864,240z" />
                  <rect x="480" y="32" width="16" height="16" />
                  <rect x="416" y="32" width="48" height="16" />
                  <rect y="448" width="48" height="16" />
                  <rect x="64" y="448" width="16" height="16" />
                  <path d="M190.112,176H152v16h25.888l24,88H224h72h31.064l10-80H196.656L190.112,176z M318.936,216l-6,48h-98.824l-13.096-48
          H318.936z" />
                  <path d="M200,304c0,13.232,10.768,24,24,24s24-10.768,24-24s-10.768-24-24-24S200,290.768,200,304z M224,296c4.416,0,8,3.584,8,8
          c0,4.416-3.584,8-8,8s-8-3.584-8-8C216,299.584,219.584,296,224,296z" />
                  <path d="M272,304c0,13.232,10.768,24,24,24s24-10.768,24-24s-10.768-24-24-24S272,290.768,272,304z M296,296c4.416,0,8,3.584,8,8
          c0,4.416-3.584,8-8,8c-4.416,0-8-3.584-8-8C288,299.584,291.584,296,296,296z" />
                  <rect x="448" y="208" width="16" height="16" />
                  <rect x="416" y="208" width="16" height="16" />
                  <rect x="384" y="208" width="16" height="16" />
                </g>
              </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
          </svg>

          <div class="ml-3">
            Data Analytics
          </div>
        </div>
        <div class="py-3">
          Analyzing raw data to find trends and derive valuable insights in form of charts and graphs to boost
          <strong>sales</strong> and <strong>profits</strong>.
        </div>
      </div>
    </div>
    <div class="py-6 text-3xl tracking-wide font-semibold text-gray-700">
      Here's what our clients have to say
    </div>
    <div>
      <app-testimonial></app-testimonial>
    </div>

    <div class="bg-white flex items-center justify-center px-48 py-12">
      <div class="p-6 w-full bg-gray-800 rounded-xl text-white divide-x-2 flex items-center justify-center">
        <div class="flex flex-col items-center px-20">
          <div class="text-4xl tracking-wide font-bold text-white">
            7
          </div>
          <div class="mt-2 text-md tracking-wide font-normal text-white">
            Continents Served
          </div>
        </div>

        <div class="flex flex-col items-center px-20">
          <div class="text-4xl tracking-wide font-bold text-white">
            3
          </div>
          <div class="mt-2 text-md tracking-wide font-normal text-white">
            Awards Won
          </div>
        </div>

        <div class="flex flex-col items-center px-20">
          <div class="text-4xl tracking-wide font-bold text-white">
            4+
          </div>
          <div class="mt-2 text-md tracking-wide font-normal text-white">
            Case Studies
          </div>
        </div>

        <div class="flex flex-col items-center px-20">
          <div class="text-4xl tracking-wide font-bold text-white">
            13
          </div>
          <div class="mt-2 text-md tracking-wide font-normal text-white">
            Projects Delivered
          </div>
        </div>
      </div>
    </div>

    <div class="px-24 mb-6 flex bg-white">
      <div class=" flex-1">
        <img class="float-right" src="../../assets/images/png/CostCalculator.png" loading="lazy">
      </div>
      <div class="ml-12 px-12 flex-1 flex justify-evenly">
        <div class="w-1/3 flex flex-col items-center justify-between">
          <div
            class="p-2 w-full flex flex-col items-center justify-center border-solid border-2 border-indigo-500 rounded-lg cursor-pointer hover:bg-indigo-500 hover:text-white text-gray-700">
            <div class="text-4xl tracking-wide font-bold">
              100%
            </div>
            <div class="mt-2 text-md tracking-wide font-normal">
              Agile
            </div>
          </div>

          <div
            class="p-2 w-full flex flex-col items-center justify-center border-solid border-2 border-indigo-500 rounded-lg cursor-pointer hover:bg-indigo-500 hover:text-white text-gray-700">
            <div class="text-4xl tracking-wide font-bold">
              30%
            </div>
            <div class="mt-2 text-md tracking-wide font-normal">
              Cost Reduction
            </div>
          </div>

          <div
            class="p-2 w-full flex flex-col items-center justify-center border-solid border-2 border-indigo-500 rounded-lg cursor-pointer hover:bg-indigo-500 hover:text-white text-gray-700">
            <div class="text-4xl tracking-wide font-bold">
              1/2
            </div>
            <div class="mt-2 text-md tracking-wide font-normal">
              Development Cost
            </div>
          </div>
        </div>
        <div class="w-1/3 flex flex-col items-center justify-between">
          <div
            class="p-2 w-full flex flex-col items-center justify-center border-solid border-2 border-indigo-500 rounded-lg cursor-pointer hover:bg-indigo-500 hover:text-white text-gray-700">
            <div class="text-4xl tracking-wide font-bold">
              20%
            </div>
            <div class="mt-2 text-md tracking-wide font-normal">
              Profits Increase
            </div>
          </div>

          <div
            class="p-2 w-full flex flex-col items-center justify-center border-solid border-2 border-indigo-500 rounded-lg cursor-pointer hover:bg-indigo-500 hover:text-white text-gray-700">
            <div class="text-4xl tracking-wide font-bold">
              3
            </div>
            <div class="mt-2 text-md tracking-wide font-normal">
              Cloud Partners
            </div>
          </div>

          <div
            class="p-2 w-full flex flex-col items-center justify-center border-solid border-2 border-indigo-500 rounded-lg cursor-pointer hover:bg-indigo-500 hover:text-white text-gray-700">
            <div class="text-4xl tracking-wide font-bold">
              95%
            </div>
            <div class="mt-2 text-md tracking-wide font-normal">
              Client Satisfaction
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-off-white w-full py-6 flex flex-col items-center">
      <div class="text-3xl tracking-wide font-semibold text-gray-700">
        Case Studies
      </div>
      <div class="flex justify-between items-center">
        <div>
          <img class="object-cover logo px-3 mx-12" src="../../assets/images/png/ixigo.png" loading="lazy">
        </div>

        <div>
          <img class="object-cover logo px-3 mx-12" src="../../assets/images/png/nykaa.png" loading="lazy">
        </div>

        <div>
          <img class="object-cover logo px-3 mx-12" src="../../assets/images/png/Shuttl.png" loading="lazy">
        </div>

        <div>
          <img class="object-cover logo px-3 mx-12" src="../../assets/images/png/cnbc.png" loading="lazy">
        </div>
      </div>
    </div>
  </div>



  <div class="curved-bg">
    <img class="bg-white w-full" src="../../assets/images/png/top_right_grey.png" loading="lazy">
  </div>

  <!-- <div class="flip-x">
    <img src="../../assets/images/png/white_bottom_wave.png" loading="lazy">
  </div> -->

  <div class="world-class-grid flex flex-col items-center justify-center">
    <div class="pt-6 text-5xl tracking-wide font-semibold text-gray-700">
      World Class Quality
    </div>
    <div class="pt-3 pb-6 custom-font italic text-2xl font-normal text-gray-900">
      Expertise on all the latest technologies. our software quality is second to none.
    </div>
  </div>

  <div class="computer-carousel">
    <div class="carousel-overlap">
      <div class="bg-white flex justify-center carousel-div">
        <img [class]="fade == false ? 'fade-out-effect' : 'fade-in-effect'" [src]="carouselImage" loading="lazy">
      </div>

      <div class="wave-2-div z-30">
        <img class="wave-2" src="../../assets/images/png/wave-2.png" loading="lazy">
      </div>
    </div>
  </div>

  <div class="footer-grid">
    <div class="flex flex-col items-center py-6">
      <div class="py-2 text-xl tracking-wide font-semibold text-gray-700">
        Subscribe to newsletter
      </div>
      <div class="flex flex-col flex-1 px-20">
        <div class="text-gray-500 py-2">
          Subscribe to newsletter
        </div>
        <div class="py-2">
          <input #email type="email" placeholder="Email" />
          <button (click)="subscribeToNewsletter()"
            class="ml-6 px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700">
            Submit
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>