.bg-off-white {
  background-color: #f3f3f2;
}

.moveUp:hover {
  // margin-top: -2px;
  transform: scale(1.01);
  transition: 0ms all;
}

.custom-font {
  font-family: "IBM Plex Serif", serif;
}

.main-grid {
  display: grid;
  grid-template-columns: auto;
  grid-column: 1 / span 1;
  grid-row: 1 / span 5;
}

.main-label {
  grid-column: 1 / span 1;
  grid-row: 1 / span 6;
}

.bean-on-main {
  grid-column: 1 / span 1;
  grid-row: 5 / span 5;
}

.carousel-overlap {
  display: grid;
  grid-template-columns: auto;
}

.carousel-div {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
}

.wave-2-div {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
}

.fade-in-effect {
  opacity: 0.4;
  transition: 0.3s;
}

.fade-out-effect {
  opacity: 1;
  transition: 0.3s;
}

@keyframes oscillate {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -20px;
  }
}

.oscillate-image {
  animation-name: oscillate;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.flip-x {
  transform: scaleX(-1);
}

.flip-y {
  transform: scaleY(-1);
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.number {
  transition: --num 5s;
  counter-set: num var(--num);
  font: 800 40px system-ui;
}
.number::after {
  content: counter(num);
}
.number:hover {
  --num: 100;
}

.logo {
  width: 200px;
}

.parent-grid {
  display: grid;
  grid-template-columns: auto;
}

.wave-1 {
  grid-column: 1 / span 1;
  grid-row: 3 / span 4;
}

.grid-cards {
  grid-column: 1 / span 1;
  grid-row: 10 / span 5;
}

.first-white-section {
  grid-column: 1 / span 1;
  grid-row: 15 / span 15;
}

.curved-bg {
  grid-column: 1 / span 1;
  grid-row: 30 / span 5;
}

.world-class-grid {
  grid-column: 1 / span 1;
  grid-row: 30 / span 5;
}

.computer-carousel {
  grid-column: 1 / span 1;
  grid-row: 35 / span 5;
}

.footer-grid {
  grid-column: 1 / span 1;
  grid-row: 40 / span 5;
}

@media only screen and (max-width: 900px) {
  .case-study-img {
    max-height: 12rem;
  }
}
